<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
</head>
<body>
    <h1>Camera Selection</h1>
    <p>Select a camera:</p>
    <ul>
        {% for camera_id, camera_name in cameras.items() %}
            <li><a href="/video_feed/{{ camera_id }}">{{ camera_name }}</a></li>
        {% endfor %}
    </ul>
    <div>
        <img id="video_feed" src="" alt="Camera Feed" width="640" height="480">
    </div>
    <script>
        var video_feed = document.getElementById('video_feed');
        var camera_id = window.location.href.split('/').pop();
        video_feed.src = "/video_feed/" + camera_id;
    </script>
</body>
</html>
